*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    padding: 30px;
}
.title{
    font-size: 24px;
    font-weight: 500;
}
.click-btn{
    padding: 10px 20px;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.color-title{
    font-size: 24px;
    font-weight: 500;
}
.color-btn{
    padding: 10px 20px;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}